
/*
 ********************************************
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 *░░█▀█░█░░░█░█░█▀▀░░░█░█░█░░░▀█▀░█▀▄░█▀█░░*
 *░░█▀▀░█░░░█░█░▀▀█░░░█░█░█░░░░█░░█▀▄░█▀█░░*
 *░░▀░░░▀▀▀░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░░▀░░▀░▀░▀░▀░░*
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 ********************************************
 */








* {
	border: none;
	border-radius: 0;
	font-family: VCR OSD Mono;
	font-size: 14px;
	min-height: 24px;
}

window#waybar {
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0)); 
}

window#waybar.hidden {
 background: transparent;
}

#window {
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
	border-radius: 26px;
	transition: none;
	
    color: #f8f8f2;
	background: #0a0a0a;
/*    
    color: transparent;
	background: transparent;
*/
}

window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
    color: #4d4d4d;
	background: #e6e6e6;
}

#workspaces {
	margin-top: 4px;
	margin-left: 12px;
	margin-bottom: 4px;
	border-radius: 26px;
	background: #0a0a0a;
	transition: none;
}

#workspaces button {
	transition: none;
	color: #f8f8f8;
	background: transparent;
	font-size: 16px;
}

#workspaces button.focused {
	color: #feffa6;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #fbff00;
}

#mpd {
	margin-top: 4px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 4px;
	border-radius: 26px;
	background: #282a36;
	transition: none;
	color: #4d4d4d;
	background: #5af78e;
}

#mpd.disconnected,
#mpd.stopped {
	color: #f8f8f2;
	background: #282a36;
}

#network {
	margin-top: 4px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 4px;
	border-radius: 26px;
	transition: none;
	color: #4d4d4d;
	background: #bd93f9;
}

#pulseaudio {
	margin-top: 4px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 4px;
	border-radius: 26px;
	transition: none;
	color: #0d0d0d;
	background: #fa3c3c;
}

#temperature {
	margin-top: 4px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 4px;
	border-radius: 26px;
	transition: none;
	color: #4d4d4d;
	background: #5af78e;
}

#cpu {
	margin-top: 4px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 4px;
	border-radius: 26px;
	transition: none;
	color: #4d4d4d;
	background: #f1fa8c;
}

#memory {
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 4px;
	border-radius: 26px;
	transition: none;
	color: #4d4d4d;
	background: #ff6e67;
}

#clock {
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 12px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 4px;
	border-radius: 26px;
	transition: none;
	color: #f8f8f2;
	background: #0a0a0a;
}
#power-profiles-daemon {
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 26px;
	transition: none;
	color: #0d0d0d;
	background: #48f63f;
}
#battery {
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 26px;
	transition: none;
	color: #0d0d0d;
	background: #48f63f;
}


#backlight {
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 26px;
	transition: none;
	color: #0d0d0d;
	background: #39e2f9;
}

#scratchpad {
	margin-top: 4px;
	margin-left: 8px;
	margin-right: 12px;
	margin-bottom: 4px;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 26px;
	transition: none;
	color: #f8f8f2;
	background: #282a36;
}
