window {
   background-image: url("/home/orv/Downloads/cyberpunk.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-color: black;
   color: #f0f0f0;
}
